{{ define "page" }}
<head hx-head="append">
    <script src="/static/js/main.js"></script>
</head>
<main id="main" class="fade-in" hx-ext="ws" ws-connect="/connect/{{ .Id }}" hx-trigger="load">
    {{ template "heading" }}
    <canvas id="content" class="canvas-block"></canvas>
    <div id="post-content" class="row content-block">
        <button hx-swap="none" ws-send name="action" value="step">
            Step Forward
        </button>
        <button id="togglePause" hx-swap="none" ws-send name="action" value="togglePause">
            {{ if .Game.Running }} Pause {{ else }} Play {{ end }}
        </button>
        <button id="save" hx-swap="none" ws-send name="action" value="saveState">
            Save
        </button>
        <button id="load" hx-swap="none" ws-send name="action" value="loadState">
            Load
        </button>
    </div>
</main>
{{ end }}